<h1>Password reset</h1>
<p>Hi <%= @user.first_name %>,</p>
<p>You have recently requested to reset your password. Please click on this
  <span>
    <%= link_to "link",
      edit_password_reset_url(@user.password_reset_token, email: @user.email) %>
  </span> to start your password reset.
</p>
<br>
<p>Have a nice day.</p>
