<% provide(:title, "Profile") %>
<div class="row">
  <div class="col-md-12">
    <h1>User profile</h1>
    <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
    <p>Email: <%= @user.email %></p>
    <p>Agent ID: <%= @user.agent_id %></p>
  </div>
</div>
