<h1>Orders</h1>
<table class="table">
  <tr>
    <th>#</th>
    <th>Agent ID</th>
    <th># Items Sold</th>
    <th>Total Sales</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <% user = User.find_by(id: order.user_id) %>
      <% sales = Sale.where(order_no: order.no) %>
      <td><%= link_to order.no, order_path(order) %></td>
      <td><%= link_to user.agent_id, user_path(user) %></td>
      <td><%= sales.count %></td>
      <td>RM <%= sales.sum(&:sale) %></td>
    </tr>
  <% end %>
</table>
